* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}
body {
  font-size: 21px;
}
.wrapper {
  color: #343a40;
}
.feed {
  background-image: url(/TRIBUTE_PAGE/images/steve_jobs-wide.jpg);
  /* width: 100vw; */
  object-fit: cover;

  padding: 0;
  margin: 0;
  padding-bottom: 3vh;
  height: 100vh;
  background-position: 50% 70%;
  overflow: hidden;
}
.container {
  padding: 40px 24px;
  margin: 0 400px;
  box-shadow: 0 0 5px #fff;
}
.heading {
  text-align: center;
  font-weight: 700;
  margin-top: 46px;
}
.paragraph p {
  margin-top: 24px;
}
.block-quotes {
  background-color: #272b30ee;
  padding: 6vh 5vw;
  /* padding: 28px 76px; */
  font-style: italic;
  font-size: 28px;
  color: #fff;
  margin-top: 40px;
  margin-bottom: 80px;
  width: auto;
}
.author {
  text-align: right;
}

.grid {
  display: grid;
  column-gap: 1.6rem;
  row-gap: 3.2rem;

  /* margin-bottom: 9.6rem; */
}

/* .grid:last-child {
  margin-bottom: 0;
} */

.grid--2-cols {
  grid-template-columns: repeat(2, auto);
}
dt {
  font-weight: 700;
}
.time {
  margin-top: 12px;
  margin-bottom: 24px;
}
